
<select style="padding: 0px;height: 23px;font-size: 12px" name={{ foritem_name }} class="form-control" id={{ foritem_id }}>
  <option value="global">查询全部内容</option>

  <option value="code">供应商编码</option>

  <option value="supplierName">供应商单位名称</option>

  <option value="abbreviation">简称</option>

  <option value="bankName">开户行</option>

  <option value="accountNumber">账号</option>

  <option value="bankNunber">行号</option>

  <option value="dutyParagraph">税号</option>

  <option value="Note">备注</option>

  <option value="state__cooperationState">合作状态</option>

  <option value="goodsType__goodsType">产品类型</option>

  <option value="industryStatus__industryStatus">行业地位</option>

  <option value="entrustName">委托代理联系人姓名</option>

  <option value="legalName">法人姓名</option>

</select>