<header >
{#    navbar-fixed-top#}
    <nav id="base_head_navbar" class="navbar navbar-default navbar-fixed-top" style="min-height:38px;padding:0px;margin:0px;border: 0px none;">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">战略采购部</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand " href="/" style="height:38px;padding:8px;">战略采购部</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">常用网站<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a target="_blank" href="http://172.168.0.3">大橡塑首页</a></li>
                    <li><a target="_blank" href="http://172.168.0.3:8080/DXS100_V1/HBPM00000000_init.hit">公文签批</a></li>
                    <li><a target="_blank" href="http://172.168.0.3:8080/DXS100_V1/HEIP03010000_init.hit">投产计划</a></li>
                    <li><a target="_blank" href="http://172.168.0.3:8080/DXS100_V1/HEIP12010000_init.hit">生产信息</a></li>
                    <li><a target="_blank" href="http://172.168.0.3:8080/DXS100_V1/HEIP11010000_init.hit">售后服务</a></li>
                    <li><a target="_blank" href="http://172.168.0.3:8091/%E5%85%AC%E5%91%8A%E6%A0%8F/Gywj/wz_101.asp">工艺发布</a></li>
                    <li><a target="_blank" href="http://172.168.0.3:8080/DXS100_V1/HEBI00000000_init.hit">综合查询</a></li>
                    <li><a target="_blank" href="http://172.168.0.30:8080/DesignModify/">设计通知</a></li>
                    <li><a target="_blank" href="http://172.168.0.30:8080/tcEBOM/">图纸信息</a></li>
                    <li><a target="_blank" href="http://eps.dhidcw.com:8001/Office/Login">一采通（业务员）</a></li>
                    <li><a target="_blank" href="http://eps.dhidcw.com">一采通（供应商）</a></li>
                    <li><a target="_blank" href="http://mail.dxs1907.cn/">企业邮箱</a></li>
                    <li><a target="_blank" href="http://172.168.0.3:8080/DXS100_V1/html/%E7%94%B5%E8%AF%9D%E8%A1%A8.htm">电话表</a></li>
                    <li><a target="_blank" href="http://172.168.0.3:8080/DXS100_V1/HSCM00000000_init.hit">木型信息</a></li>
                    <li><a target="_blank" href="http://172.168.0.3:8099/tctz/Index.asp">投产计划(旧)</a></li>
                  </ul>
                </li>
{#            <li class="dropdown">#}
{#              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">生成订单<span class="caret"></span></a>#}
{#              <ul class="dropdown-menu">#}
{#                <li><a href="#">导入订单明细</a></li>#}
{#                <li><a href="#">编辑订单明细</a></li>#}
{#                <li><a href="#">打印订单</a></li>#}
{#                <li><a href="#">变更订单</a></li>#}
{#                <li><a href="#">编辑价格编码</a></li>#}
{#                <li><a href="#">录入生产作业计划</a></li>#}
{#              </ul>#}
{#            </li>#}
{#            <li class="dropdown">#}
{#              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">维护订单<span class="caret"></span></a>#}
{#              <ul class="dropdown-menu">#}
{#                <li><a href="#">查询进度（新增顺序）</a></li>#}
{#                <li><a href="#">查询进度（生产作业计划）</a></li>#}
{#                <li><a href="#">查询进度（入库明细）</a></li>#}
{#                <li><a href="#">查询价格</a></li>#}
{#                <li><a href="#">综合查询</a></li>#}
{#              </ul>#}
{#            </li>#}
{#            <li class="dropdown">#}
{#              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">办理入库<span class="caret"></span></a>#}
{#              <ul class="dropdown-menu">#}
{#                <li><a href="#">录入入库信息</a></li>#}
{#                <li><a href="#">打印入库票</a></li>#}
{#                <li><a href="#">打印热处理明细</a></li>#}
{#              </ul>#}
{#            </li>#}
{#            <li class="dropdown">#}
{#              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">合同信息<span class="caret"></span></a>#}
{#              <ul class="dropdown-menu">#}
{#                <li><a href="#">录入常规合同信息</a></li>#}
{#                <li><a href="#">生成订单汇总合同</a></li>#}
{#                <li><a href="#">合同信息查询</a></li>#}
{#                <li><a href="#">合同付款和发票统计</a></li>#}
{#                <li><a href="#">订购明细查询</a></li>#}
{#                <li><a href="#">带料加工明细查询</a></li>#}
{#              </ul>#}
{#            </li>#}
{#            <li class="dropdown">#}
{#              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">请款和发票<span class="caret"></span></a>#}
{#              <ul class="dropdown-menu">#}
{#                <li><a href="#">请款信息</a></li>#}
{#                <li><a href="#">估价信息</a></li>#}
{#                <li><a href="#">发票信息</a></li>#}
{#              </ul>#}
{#            </li>#}
{#            <li class="dropdown">#}
{#              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">财务信息统计<span class="caret"></span></a>#}
{#              <ul class="dropdown-menu">#}
{#                <li><a href="#">账面欠款数统计</a></li>#}
{#                <li><a href="#">账面欠款数统计(产品库)</a></li>#}
{#                <li><a href="#">账面欠款数统计(业务员)</a></li>#}
{#                <li><a href="#">账面欠款数统计(综合)</a></li>#}
{#                <li><a href="#">每月资金计划(汇总)</a></li>#}
{#                <li><a href="#">每月资金计划(明细)</a></li>#}
{#              </ul>#}
{#            </li>#}

          </ul>
{#          <form class="navbar-form navbar-left">#}
{#            <div class="form-group">#}
{#              <input type="text" class="form-control" placeholder="请输入工号">#}
{#            </div>#}
{#            <button type="submit" class="btn btn-default">搜索</button>#}
{#          </form>#}
          <ul class="nav navbar-nav navbar-right">
              {% if front_user.is_authenticated %}
                <li class="dropdown">
                  <a  style="padding: 4px;" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        {{ front_user_extension.fullname }}
                        {% if front_user_extension.photo %}
                        <img style="margin: 0px;padding: 0px;border: 0px solid transparent" src="{{ front_user_extension.photo | striptags }}" name="user_face" class="img-thumbnail text-center" width="30px" id="my_front_photh" alt="">
                        {% endif %}
                        <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a target="_blank" href="{% url 'front:user_Show_Information' %}">个人信息</a></li>
                     {% if front_user.is_staff and front_user.is_superuser %}
{#                          <li><a href="{% url 'cbg:home' %}>后台管理</a></li>#}
                          <li><a target="_blank" href="/admin/">管理员权限</a></li>
                          <li><a target="_blank" href="{% url 'front:reset_password' %}">重置用户密码</a></li>
                          <li><a target="_blank" href="{% url 'front:test' %}">测试页面</a></li>
                     {% endif %}

                    <li><a target="_blank" href="{% url 'front:change_password' %}">修改密码</a></li>
                    <li><a href="{% url 'front:my_logout' %}">退出</a></li>
                  </ul>
                </li>
              {% else %}
                    <li><a href="{% url 'front:front_signup' %}">注册</a></li>
                    <li><a href="{% url 'front:front_signin' %}">登录</a></li>
              {% endif %}

          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div id="base_head_navbar_div" style="width: 100%;height:38px;"></div>
</header>