<style>
    #main-nav {
        margin-left: 1px;
    }
    #main-nav.nav-tabs.nav-stacked > li > a {
        padding: 10px 8px;
        font-size: 12px;
        font-weight: 600;
        color: #4A515B;
        background: #E9E9E9;
        background: -moz-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FAFAFA), color-stop(100%,#E9E9E9));
        background: -webkit-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
        background: -o-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
        background: -ms-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
        background: linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9');
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9')";
        border: 1px solid #D5D5D5;
        border-radius: 4px;
    }
    #main-nav.nav-tabs.nav-stacked > li > a > span {
        color: #4A515B;
    }
    #main-nav.nav-tabs.nav-stacked > li.active > a,.secondmenu > li > a:hover, #main-nav.nav-tabs.nav-stacked > li > a:hover {
        color: #FFF;
        background: #3C4049;
        background: -moz-linear-gradient(top, #4A515B 0%, #3C4049 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4A515B), color-stop(100%,#3C4049));
        background: -webkit-linear-gradient(top, #4A515B 0%,#3C4049 100%);
        background: -o-linear-gradient(top, #4A515B 0%,#3C4049 100%);
        background: -ms-linear-gradient(top, #4A515B 0%,#3C4049 100%);
        background: linear-gradient(top, #4A515B 0%,#3C4049 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4A515B', endColorstr='#3C4049');
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#4A515B', endColorstr='#3C4049')";
        border-color: #2B2E33;
    }
    #main-nav.nav-tabs.nav-stacked > li.active > a, #main-nav.nav-tabs.nav-stacked > li > a:hover > span {
        color: #FFF;
    }
    #main-nav.nav-tabs.nav-stacked > li {
        margin-bottom: 4px;
    }
    /*定义二级菜单样式*/
    .secondmenu a {
        font-size: 10px;
        color: #4A515B;
        text-align: center;
    }
    .navbar-static-top {
        background-color: #212121;
        margin-bottom: 5px;
    }
    .navbar-brand {
        background: url('') no-repeat 10px 8px;
        display: inline-block;
        vertical-align: middle;
        padding-left: 50px;
        color: #fff;
    }
</style>
<div class="col-md-1" style="padding:0px 0px 0px 5px;">
    <div class="container container_top container-fluid" style="width:100%;padding: 0px;">

{#    <div class="navbar navbar-duomi navbar-static-top" role="navigation">#}
{#        <div class="container-fluid">#}
{#            <div class="navbar-header">#}
{#                <a class="navbar-brand" href="/Admin/index.html" id="logo">配置管理系统#}
{#                </a>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
        <ul id="main-nav" class="nav nav-tabs nav-stacked" style="">
    {#        <li class="active">#}
    {#            <a href="#">#}
    {#                <i class="glyphicon glyphicon-th-large"></i>#}
    {#                首页#}
    {#            </a>#}
    {#        </li>#}
        <li>
            {% if 'Publish.view_publisharticle' in front_user_groups_permission %}
                <a href="#systemSetting" class="nav-header collapsed" data-toggle="collapse">
                    <i class="glyphicon glyphicon-th-list"></i>
                    文章管理
                    <span class="pull-right glyphicon glyphicon-chevron-down"></span>
                </a>
                <ul id="systemSetting" class="nav nav-list collapse secondmenu" style="height: 0px;">
{#                    <li><a href="#"><i class="glyphicon glyphicon-tasks"></i>查看文章</a></li>#}
                    <li><a href="#" id="Article_column_front"><i class="glyphicon glyphicon-object-align-left"></i>文章分类</a></li>
{#                    <li><a href="#"><i class="glyphicon glyphicon-tags"></i>文章标签</a></li>#}
                    <li><a href="#" id="Article_list_front"><i class="glyphicon glyphicon-list-alt"></i>文章列表</a></li>
                    <li><a href="#" id="Article_publish_front"><i class="glyphicon glyphicon-plus"></i>发布文章</a></li>
                </ul>
            {% endif %}
        </li>
        {% if 'Supplier.view_supplier' in front_user_groups_permission %}
            <li id="Supplier_front">
                <a href="#">
                    <i class="glyphicon glyphicon-credit-card"></i>
                    供应商信息
                </a>
            </li>
        {% endif %}
        <li>
            <a href="#">
                <i class="glyphicon glyphicon-fire"></i>
                关于系统
            </a>
        </li>
        </ul>
    </div>

</div>