{% extends 'Front/../Front/../Base/head.html' %}

{% block contain%}
<dev class="table-responsive">
    <div class="row text-center vertical-middle-sm">
        <h1>{{ publish.title }}</h1>
    </div>
    <div class="row">
        <p class="text-center">
            <span>作者：{{ publish.author }}</span>
            <span style="margin-left:20px"> 创建时间：{{ publish.create_time }}</span>
            <span> 修改时间：{{ publish.change_time }}</span>
        </p>
    <div class="col-xs-12 col-md-2">
    </div>
    <div class="col-xs-12 col-md-8">
        <div>{{ publish.body }}</div>
    </div>
    <div class="col-xs-12 col-md-2">
    </div>
    </div>
</dev>
</div>
{% endblock %}