{% extends 'Base/base.html' %}
{% load staticfiles %}
{% block body_base %}
{#<link rel="stylesheet" href="{% static 'editor/css/style.css' %}"> #}
<link rel="stylesheet" href="{% static 'editor/css/editormd.css' %}">

<div style="width: 97%;margin-left: 10px;">
    <form class="form-horizontal" action="." method="post">{% csrf_token %}

        <div class="row">
            <div class="col-md-2"><input type="button" class="btn btn-primary btn-lg" value="发布" onclick="publish_article()"></div>
            <div class="col-md-9">
                <table>
                    <tr>
                        <td>
                            <label style="margin: 0px" class="control-label" for="">标题:</label>
                        </td>
                        <td>
                            {{article_post_form.title}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label style="margin: 0px" class="control-label" for="">文章分类:</label>
                        </td>
                        <td>
                            <select id="which_column" name="column" class="form-control">
                                {% for column in article_columns %}
                                    <option value="{{column.id}}">{{column.column}}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label style="margin: 0px" class="control-label" for="">内容:</label>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-1"><input type="button" class="btn btn-primary btn-lg" value="发布" onclick="publish_article()"></div>
        </div>
{#        <div class="row" style="margin-top: 10px;">#}
{#            <div class="col-md-2 text-right"><span>文章标签:</span></div> #}
{#            <div class="col-md-10 text-left">#}
{#                {% for tag in article_tags %} #}
{#                <label class="checkbox-inline">#}
{#                    <input class="tagcheckbox" type="checkbox" id="{{ tag.id }}" name="article_tag" value="{{ tag.tag }}"> {{ tag.tag }}#}
{#                </label>#}
{#                {% empty %}#}
{#                <p>You have not type tags for articles. Please <a href="{% url 'article:article_tag' %}">input your tags</a></p> #}
{#                {% endfor %}    #}
{#            </div>#}
{#        </div>#}
            <!--div class="col-md-10 text-left">{{article_post_form.body}}</div-->
            <div id="editormd" class="text-left">
                <textarea style="display:none;" id="id_body"></textarea>
            </div>
        <div class="row">
            <div class="col-md-2"><input type="button" class="btn btn-primary btn-lg" value="发布" onclick="publish_article()"></div>
            <div class="col-md-10  text-right"><input type="button" class="btn btn-primary btn-lg" value="发布" onclick="publish_article()"></div>
        </div>
    </form>
</div>

<script type="text/javascript">
function publish_article(){
    var title = $("#id_title").val();
    var column_id = $("#which_column").val(); 
    var body = $("#id_body").val();
    {#var article_tags = []; #}
    {#$.each($("input[name='article_tag']:checked"), function(){article_tags.push($(this).val());});#}
    $.ajax({
        url: "{% url 'publish:article_post' %}",
        type: "POST",
        {#data: {"title":title, "body":body, "column_id":column_id, "tags":JSON.stringify(article_tags)}, #}
        data: {"title":title, "body":body, "column_id":column_id},
        success: function(e){
            if(e=="1"){ 
                parent.layer.msg("添加成功！");
                {#location.href = "{% url 'publish:article_list' %}";#}
                window.parent.$('#Article_list_front_iframe_list').attr('src', window.parent.$('#Article_list_front_iframe_list').attr('src'));
                window.parent.remove_table_iframe("#Article_publish_front_lable_li","#Article_publish_front_iframe");
            }else if(e=="2"){
                parent.layer.msg("保存过程出错！") ;
            }else{ 
                parent.layer.msg("保存内容错误，格式错误或者有空项。");
            } 
        },
    }); 
}
</script>

<script type="text/javascript" src='{% static "editor/editormd.min.js" %}'></script> 
<script type="text/javascript">
    $(function() {
        var editor = editormd("editormd", {
            width : "100%",
            height : 640,
            syncScrolling : "single",
            path : "{% static 'editor/lib/' %}"
        }); 
    });
</script>

{% endblock %}