{% extends 'Front/../Base/index.html' %}

{% block lbody %}
{# <div class="signup-body" style="margin:0 auto;width: 500px;">#}
        <form class="form-horizontal" action="" method="post">
           <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
{#        {% csrf_token %}#}
          <h1 class="page-header text-center" style="width: 100%">战略采购部</h1>
          <table class="form-group" style="margin: 0 auto">
                <tr><td colspan="2" align="center"><h4 class="text-danger"><strong>修改密码页面</strong></h4></td></tr>
                  <tr>
                      <td><label class="control-label" for="">用户名</label></td>
                      <td><label class="form-control" for="">{{ username }}</label></td>
                  </tr>
                  <tr>
                  <tr>
                      <td><label class="control-label" for="">姓名</label></td>
                      <td><label class="form-control" for="">{{ fullname }}</label></td>
                  </tr>
                  <tr>
                      <td><label class="control-label" for="{{ obj.password_old.id_for_label }}">{{ obj.password_old.label }}</label></td>
                      <td>{{ obj.password_old }}</td>
                      <td><label class="control-label" for="{{ obj.password_old.id_for_label }}">{{ obj.password_old.errors.0 }}</label></td>
                  </tr>

    {#          检测密码错误#}
                {% with 'password_old' as errorKey %}
                    {% include 'Tips/errorTips.html' %}
                {% endwith %}
                  <tr>
                      <td><label class="control-label" for="{{ obj.password_new.id_for_label }}">{{ obj.password_new.label }}</label></td>
                      <td>{{ obj.password_new }}</td>
                      <td><label class="control-label" for="{{ obj.password_new.id_for_label }}">{{ obj.password_new.errors.0 }}</label></td>
                  </tr>

    {#          检测密码错误#}
                {% with 'password_new' as errorKey %}
                    {% include 'Tips/errorTips.html' %}
                {% endwith %}
                  <tr>
                      <td><label class="control-label" for="{{ obj.password_repeated.id_for_label }}">{{ obj.password_repeated.label }}</label></td>
                      <td>{{ obj.password_repeated }}</td>
                      <td><label class="control-label" for="{{ obj.password_repeated.id_for_label }}">{{ obj.password_repeated.errors.0 }}</label></td>
                  </tr>
    {#          检测确认密码错误#}
                {% with 'password_repeated' as errorKey %}
                    {% include 'Tips/errorTips.html' %}
                {% endwith %}
                  <tr>
                      <td></td>
                      <td>
                          <button type="submit" class="btn btn-default">变更密码</button>
                          <button type="reset" class="btn btn-default">重新输入</button>
                      </td>
                  </tr>

          </table>
        </form>
{#</div>#}


{% endblock %}